
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  color: white;
}

body {
  margin: 0;
  font-family: 'Comic Neue', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #02170B 0%, #0A0B0A 100%);

  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
width: 1440px;
flex-direction: column;
align-items: center;
};


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

